
.Card-title{
    margin-top: 2%;
    text-align: center;
    color: rgb(255, 187, 0);
    font-size: 25px;
}

.Card-Container{
   margin-top: 5%;
   margin-left: 5%;
   margin-right: 5%;
   margin-bottom: 3%;
}

.React-Player-div{
    background-color:black;
    height: auto;
    width: 100%;
}

.Link-Icons{
    margin-top: 2%;
    text-align: center;
}

.Web-GitHub{
    display: inline;
    margin: 0 1%;
}

@media (min-width: 790px) {
    
    .Web-Card{
        margin-top: 3%;
        background-color: rgb(52, 59, 90);
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: auto;
    }

    .Title-Card{
        text-align: center;
        color: white;        
    }

    .Card-title{
        padding-top: 2%;
        text-align: center;
        color: rgb(255, 187, 0);
        font-size: 40px;
    }
    
    .Card-Container{
       margin-top: 5%;
       margin-left: 5%;
       margin-right: 5%;
       margin-bottom: 3%;
    }
    
    .React-Player-div{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        background-color:black;
    }
    
    .Link-Icons{
        margin-top: 2%;
        text-align: center;
        padding-bottom: 2%;
    }
    
    .Web-GitHub{
        display: inline;
        margin: 0 1%;
       
    }
}