.Portfolio-Container{
    background-color: rgba(255, 255, 255, 0);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.Welcome{
    color: white;
    background-image: linear-gradient(to left, #8848ff, #86417f);
    padding: 1% 2%;
    border: none;
    text-align: center;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
}

.Presentacion-Container{
    margin-top: 5%;
    padding: 1%;
    backdrop-filter: blur(1rem);
    width: 100%;
}

.presentacion{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    color: rgb(255, 255, 255);
}

.Name{
    color: rgb(255, 187, 0);
    display: inline-block 
}

.Info{
    color: white;
    margin-top: 5%;
    text-align: center;
    margin-right: 8%;
    margin-bottom: 6%;
}

.GetInTouch{
    color: white;
    background-image: linear-gradient(to left, #8848ff, #86417f);
    padding: 1% 2%;
    margin-top: 5%;
    border: none;
    text-align: center;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
}

.redes{
    margin-top: 10%;
    margin-left: .7%;
}

.icon-contact{
    color: rgb(255, 187, 0);
    font-size: 30px;
}

@media (min-width: 790px) {

    .Portfolio-Container{
        background-color: rgba(255, 255, 255, 0);
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 3%;
    }

    .Presentacion-Container{
        margin-top: 4%;
        padding: 2%;
        backdrop-filter: blur(1rem);
        width: 100%;
    }

    .presentacion{
        margin-top: 2%;
        margin-bottom: 3%;
        color: rgb(255, 255, 255);
        font-size: 54px;
    }
    
    .GetInTouch{
        color: white;
        background-image: linear-gradient(to left, #8848ff, #86417f);
        padding: 1% 2%;
        margin-top: 4%;
        border: none;
        text-align: center;
        border-radius: 50px;
        font-size: 14px;
        font-weight: bold;
    }

    .redes{
        margin-top: 4%;
        margin-left: .7%;
    }

    .Info{
        color: white;
        margin-top: 3%;
        text-align: justify;
        margin-right: 8%;
        margin-bottom: 4%;
        margin-left: 2%;
    }
}