.GetInTouch-Position{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    text-align: right;
    padding-bottom: 10%;
}
.GetInTouch{
    color: white;
    background-image: linear-gradient(to left, #8848ff, #86417f);
    padding: 1% 2%;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
}

.GetInTouch:hover {
    color: rgb(224, 224, 224);
    background-image: linear-gradient(to left, rgb(106, 56, 199), rgb(97, 47, 92));
}


.Portfolio-Container{
    background-color: rgba(90, 32, 32, 0);
        text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25%;
    padding-top: .6%;
    padding-bottom: 14%;
}

.Welcome{
    padding: 0;
    font-size: 35px;
    font-weight: bold;
    color: rgb(255, 187, 0);
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient( 0.25turn, #8848ff, #86417f);
    border-image-slice: 1;
}

.Presentacion-Container{
    border-radius: 20px;
    margin-top: 5%;
    padding: 1%;
    backdrop-filter: blur(1rem);
    width: 100%;
}

.presentacion{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    color: rgb(255, 255, 255);
    text-align: center;
}

.Name{
    color: rgb(255, 187, 0);
    display: inline-block;
    font-size: 42px;
}

.Info{
    color: rgb(255, 255, 255);
    margin-top: 5%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 6%;
}

.redes{
    margin-top: 30%;
    margin-left: .7%;
}

.icon-contact{
    color: rgb(255, 187, 0);
    font-size: 30px;
}

@media (min-width: 790px) {


    .GetInTouch-Position{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 0;
        text-align: right;
    }
    .GetInTouch{
        color: white;
        background-image: linear-gradient(to left, #8848ff, #86417f);
        padding: 1% 2%;
        padding: 1% 2%;
        margin-top: -1%;
        margin-bottom: 0%;
        border: none;
        border-radius: 50px;
        font-size: 14px;
        font-weight: bold;
    }
    
    .GetInTouch:hover {
        color: rgb(224, 224, 224);
        background-image: linear-gradient(to left, rgb(106, 56, 199), rgb(97, 47, 92));
    }

    .Portfolio-Container{
        background-color: rgba(236, 236, 236, 0);
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 6%;
        padding-bottom: 2.5%;
    }

    .Presentacion-Container{
        margin-top: -7%;
        padding: 2%;
        backdrop-filter: blur(1rem);
        width: 100%;
    }

    .presentacion{
        margin-top: 0%;
        margin-bottom: 3%;
        color: rgb(255, 255, 255);
        font-size: 54px;
        text-align: left;
    }

    .Name{
        color: rgb(255, 187, 0);
        display: inline-block;
        font-size: 70px;
    }
    
    .redes{
        margin-top: 6%;
        margin-left: .7%;
    }

    .Info{
        color: white;
        margin-top: 3%;
        text-align: justify;
        margin-right: 8%;
        margin-bottom: 4%;
        margin-left: 2%;
    }
}