.Project-All{
    display: block;
    padding-top: 20%;
    padding-bottom: 2%;
}

.Project-Container{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
    width: 80%;
    height: auto;   
}
.Project-Title{
    margin-top: 1%;
    text-align: center;
    color: rgb(255, 187, 0);
    font-size: 32px;
}

.Projects-Card-Container{
    margin-top: 4%;
    padding-bottom: 2%;
    padding-top: 1%;
}

@media (min-width: 790px){

    .Project-All{
        width: 100%;
        height: 100vh;  
        padding-bottom: 60%;
    }

    .Project-Container{
        margin-left: auto;
        margin-right: auto;
        padding-top: 4%;
        padding-bottom: 4%;
        width: 80%;
        height: auto;
        
    }

    .Project-Title{
        color: rgb(255, 187, 0);
        font-size: 45px;
    }

    .Projects-Card{
        display: grid;
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1%; 
        padding-bottom: 10%;
    }

}