.Me-All{
    padding-top: 4%;
}

.Me-Container{
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Me-Info{
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
}

.Me-Info h2{
color: rgb(255, 187, 0);
font-size: 32px;
text-align: center;
}

.Me-Info p {
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.Personal-Info-Container{
    width: 100%;
    height: 100%;
}

.Personal-Info{
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    height: auto;
    text-align: center;
}

.Personal-Info h2{
    margin-top: 2%;
    color: rgb(255, 187, 0);
    font-size: 25px;
}

.Personal-Button{
    display: inline-grid;
    width: 100%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px 0px;   
}

.Personal-Button button{
    border-radius: 100rem;
    padding: 0;
    font-size: 17px;
    font-weight: bold;
    color: rgb(255, 187, 0);
    background-color: rgb(52, 59, 90);
    border: none;
}

.Name-P{
    margin-top: 3%;
}

.Personal-P{
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    font-weight: lighter;
    font-size: 15px;
}

.Personal-P-Link{
    color: rgb(255, 230, 0);
    text-decoration:underline;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: lighter;
    font-size: 15px;
}

@media (min-width: 790px) {
    .Me-Container{
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    .Me-Info{
        margin-top: 2%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .Me-Info h2{
    color: rgb(255, 187, 0);
    font-size: 46px;
    text-align: center;
    }
    
    .Me-Info p {
        margin-top: 3%;
        margin-left: 15%;
        margin-right: 15%;
        text-align: left;
        color: rgb(255, 255, 255);
        font-size: 20px;
    }
    
    .Personal-Info{
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }
    
    .Personal-Info h2{
        margin-top: 2%;
        color: rgb(255, 187, 0);
        font-size: 33px;
    }
    
    .Personal-Button{
        display: grid;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10%; 
        
    }
    
    .Personal-Button button{
        border-radius: 100rem;
        padding: 0;
        font-size: 20px;
        font-weight: bold;
        color: rgb(255, 187, 0);
        background-color: rgb(52, 59, 90);
        border: none;
    }

    .Name-P{
        margin-top: 3%;
    }
    
    .Personal-P{
        margin-top: 5%;
        margin-bottom: 5%;
        color: white;
        font-weight: lighter;
        font-size: 18px;
    }

    .Personal-P-Link{
        color: rgb(255, 255, 255);
        text-decoration:underline;
        margin-top: 5%;
        margin-bottom: 5%;
        font-weight: lighter;
        font-size: 18px;
    }
}