*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,*::before { 
  box-sizing: border-box;
}

.App{
  width: 100%;
    height: auto;
    background-color: rgb(39, 45, 71);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}